.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-item{
    flex-grow: 1;
    text-align: center;
}

.nav-link{
    display: block;
    color: #fff !important;
    font-weight: bold;
    padding: 0;
}

.nav-link:hover{
    background-color: #495057;
}

main{
    margin-top: 150px;
}

#tabelaRelatorio {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

#conteudoPrincipal .container {
    max-width: 100%;
    overflow-x: auto;
}