.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-item{
    flex-grow: 1;
    text-align: center;
}

.nav-link{
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 0px;
}

.nav-link:hover{
    background-color: #495057;
}

main{
    margin-top: 150px;
}